/* general settings, modifications on base classes */

body {
	background-color: #120024;

}

h1 {
	color: #c20000;
}

form {
	color: white;
	
}

button{
	background-color: #c20000;
	border-color: black;
}

button:hover{
	background-color: red;
}

/* runes class provides design for all tables on the website */
/* tooltip class supports the runes class but can be used elsewhere */
/* 		if necessary */
.runes {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
}

.runes td, .runes th {
	border: 1px solid #000000;
	overflow: hidden;
	max-width: 20px;
	font-size: 100%;
}


.runes tr:nth-child(even){background-color: #404040;}
.runes tr:nth-child(odd){background-color: #555555;}

.runes th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #c20000;
	color: black;
}

.runes tr{
	color: white;
}

.headrow{
	position: sticky;
}
.tooltip .tooltiptext{
	visibility: hidden;
	background-color: #f2f2f2;
	color: black;
	border: solid;
	border-color: #c20000;
	text-align: center;
	margin: 0% .5%;
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext{
	visibility: visible;
}

.runes tr:hover{
	background-color: #000000;
	color: #c20000;
}
.runes tr:hover .tooltiptext {
	visibility: visible;
}



/* design for the sidebar */
ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	width: 10%;
	min-width: 100px;
	overflow: auto;
	font-size: 25px;
	border: solid;
	
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border: solid;
	border-color: black;
}


li a:hover {
	background-color: #111;
}

.active{
	background-color: #c20000;
}


/* flexbox code (more descriptive text coming later)*/
.container{
	display: flex;
	justify-content: center;
	width: 75%;
	margin: auto;
}

.buttoncontainer{
	display: flex;
	justify-content: flex-end;
	width: 75%;
	height: 50%;
	margin: auto;
	align-items: center;
	flex-direction: column;
}

.container .runes{
	width: 100%;
}

.leftitem{
	flex-basis: auto;
	order: 0;
	flex-grow: 1;
}
.miditem{
	order: 0;
	flex-grow: 1;
	flex-basis: auto;
	width: 90%;
	margin: 0 auto;
}

.miditem .runes {
	width: 90%;
}
.rightitem {
	order: 0;
	flex-grow: 1;
	flex-basis: auto;
	width: 90%;
}
.rightitem .runes {
	width: 90%;
}

.solotable {
	width: 50%;
}

/* coloration for table data */


.act1 td {
	background-color: #2f0045;
}
.act2 td{
	background-color: #3d3d00;
}
.act3 td{
	background-color: #053600;
}

.act4 td{
	background-color: #3b0000;
}

.act5 td {
	background-color: #00233b;
}
.ubers td{
	background-color: black;
}
.light {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #e5ff00;
	color: black;
}
.fire {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #850000;
	color: black;
}
.cold {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #3d81ff;
	color: black;
}
.poison {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #048000;
	color: black;
}
.physical {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #8a603f;
	color: black;
}
.magic {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #fc6100;
	color: black;
}
	
.bestxp {
	background-color: #048000;
}

.level{
	background-color: gray;
	color: black;
}

/* Screen size adjustments */
@media all and (max-width: 800px){
	.container{
		flex-wrap: wrap;
	}
}

@media all and (max-width: 1000px){
	.runes{
		margin-left: 50px;
	}
	.runes th, .runes td{
		font-size: 75%;
	}
	.solotable{
		width: 80%;
	}
	
	.container {
		margin-left: 75px;
	}
	.leftitem .runes, .rightitem .runes, .miditem .runes{
		width: 80%;
	}
	ul {
		font-size: 20px;
	}
	
	li a{
		padding: 5px;
	}
}