/* general settings, modifications on base classes */

body {
	background-color: #120024;

}

h1 {
	color: #c20000;
}



form {
	color: white;
	
}

button{
	background-color: #c20000;
	border-color: black;
}

button:hover{
	background-color: red;
}

/* runes class provides design for all tables on the website */
/* tooltip class supports the runes class but can be used elsewhere */
/* 		if necessary */
.runes {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
}

.runes td, .runes th {
	border: 1px solid #000000;
	overflow: hidden;
	font-size: 100%;
}


.runes tr:nth-child(even){background-color: #404040;}
.runes tr:nth-child(odd){background-color: #555555;}

.runes th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #c20000;
	color: black;
}

.runes tr{
	color: white;
}

.headrow{
	position: sticky;
}
.tooltip .tooltiptext{
	visibility: hidden;
	background-color: #f2f2f2;
	color: black;
	border: solid;
	border-color: #c20000;
	text-align: center;
	margin: 0% .5%;
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext{
	visibility: visible;
}

.runes tr:hover{
	background-color: #000000;
	color: #c20000;
}
.runes tr:hover .tooltiptext {
	visibility: visible;
}

.main{
	margin-left: 160px;
	
}

/* design for the sidebar */
.sidenav {
	width: 130px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	background-color: #333;
	font-size: 18px;
	border: 5px solid black;
}

.altsidenav {
	width: 0px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	background-color: #333;
	font-size: 10px;
	border: 0px solid black;
}

.sidenav a{
	display: block;
	color: white;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
	border-color: black;
}

.altsidenav a{
	display: block;
	color: white;
	text-align: left;
	padding: 30px 0px;
	padding-left: 7px;
	text-decoration: none;
	border-color: black;
}

.sidenav a:hover, .altsidenav a:hover {
	background-color: #111;
}

.active{
	background-color: #c20000;
}


/* flexbox code (more descriptive text coming later)*/
.container{
	display: flex;
	justify-content: center;
	width: 100%;
	margin: auto;
	flex-wrap: wrap;
}

.buttoncontainer{
	display: flex;
	justify-content: flex-end;
	width: 75%;
	height: 50%;
	margin: auto;
	align-items: center;
	flex-direction: column;
}



.leftitem{
	flex-basis: auto;
	order: 0;
	flex-grow: 1;
}
.miditem{
	order: 0;
	flex-grow: 1;
	flex-basis: auto;
}


.rightitem {
	order: 0;
	flex-grow: 1;
	flex-basis: auto;
}


.solotable {
}

.leftitem .runes td, .leftitem .runes th{
	width: 100px;
}
.headeralign {
	text-align: center;
}
/* coloration for table data */


.act1 td {
	background-color: #2f0045;
}
.act2 td{
	background-color: #3d3d00;
}
.act3 td{
	background-color: #053600;
}

.act4 td{
	background-color: #3b0000;
}

.act5 td {
	background-color: #00233b;
}
.ubers td{
	background-color: black;
}
.light {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #e5ff00;
	color: black;
}
.fire {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #850000;
	color: black;
}
.cold {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #3d81ff;
	color: black;
}
.poison {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #048000;
	color: black;
}
.physical {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #8a603f;
	color: black;
}
.magic {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #fc6100;
	color: black;
}
	
.bestxp {
	background-color: #048000;
}

.level{
	background-color: gray;
	color: black;
}

/* Screen size adjustments */
@media all and (max-width: 800px){
	.container{
		flex-wrap: wrap;
	}
	
	.sidenav{
		width: 80px;
		font-size:15px;
	}
	
	.main{
		margin-left: 110px;
	}
	
	.leftitem .runes th, .leftitem .runes td{
		max-width: 40px;
	}
	.miditem{
		flex-grow: 1;
		margin-right: 15px;
	}
	.rightitem{
		margin-right: 15px;
	}
	.headeralign{
		text-align: left;
	}
	
	.solotable{
		flex-grow: 1;
	}

	.runes th, .runes td{
		font-size: 70%;
	}
	
	.exptable .runes td{
		font-size: 0px;
	}	
	
	.exptable .runes .level{
		font-size: 70%;
	}
	
	.runeword td, .runeword th{
		max-width: 30px;
	}
	
}
