body {
	background-image: url('images/background.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	min-height: 90%;
	min-width: 90%
}

h1 {
	color: #c20000;
}

form {
	color: white;
	
}

button{
	background-color: #c20000;
	border-color: black;
}
.runes {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 50%;
}

.runes td, .runes th {
	border: 1px solid #ddd;
	padding: 1px;

}

.runes tr:nth-child(even){background-color: #f2f2f2;}
.runes tr:nth-child(odd){background-color: white;}

.runes th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #c20000;
	color: black;
}

.runes tr:hover{
		background-color: #000000;
		color:white;
}



ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	width: 10%;
	overflow: auto;
}



li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

.active{
	background-color: #c20000;
}
