body {
	background-color: #120024;

}

h1 {
	color: #c20000;
}

form {
	color: white;
	
}

button{
	background-color: #c20000;
	border-color: black;
}
.runes {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 50%;
	
}


.runes td, .runes th {
	border: 1px solid #000000;
	overflow: hidden;
	max-width: 20px;
	font-size: 100%;
}

.runes tr:nth-child(even){background-color: #404040;}
.runes tr:nth-child(odd){background-color: #555555;}

.runes th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #c20000;
	color: black;
}
.tooltip {}

.tooltip .tooltiptext{
	visibility: hidden;
	background-color: #f2f2f2;
	color: black;
	border: solid;
	border-color: #c20000;
	text-align: center;
	margin: 0% .5%;
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext{
	visibility: visible;
}

.runes tr:hover{
		background-color: #000000;
		color:white;
}
.runes tr:hover .tooltiptext {
		visibility: visible;
}





ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	width: 10%;
	min-width: 100px;
	overflow: auto;
	font-size: 25px;
	border: solid;
	
}



li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border: solid;
	border-color: black;
}

li a:hover {
	background-color: #111;
}



.active{
	background-color: #c20000;
}

.act1 {}

.act1 td{
	background-color: #be70ff;
}
.act1 tr:nth-child(even){background-color: #404040;}

.act {}

.act2 td {
	background-color: #bfb900;
}
.act3 {}

.act3 td{
	background-color: #5aff54;
}
.act4 {}

.act4 td{
	background-color: #ff5454;
}

.act5 {}

.act5 td{
	background-color: #5ee7ff;
}

	.light {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #e5ff00;
		color: black;
	}
	.fire {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #850000;
		color: black;
	}
	.cold {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #3d81ff;
		color: black;
	}
	.poison {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #048000;
		color: black;
	}
	.physical {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #8a603f;
		color: black;
	}
	.magic {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #fc6100;
		color: black;
	}
	
	.twofourflag{}
	
	.pretwofourflag{
	}
