h1 {
	color: #036635;
    background-color: white;
    border-radius: 4px;
    padding: 5px;
}

body { 
	font-family: Verdana, sans-serif;
	background-image: linear-gradient(180deg, #1e3932, #036635);
}

.sideFlexContainer {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

.vertFlexContainer {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.verticalContent {
	flex: 1 1 auto;
	margin: 5px 5px;
	color: #036635;
}

.vertFooter {
	flex: 1 1 auto;
	order: 1;
	border: 2px solid black;
	border-radius: 5px;
	background-color: white;
	font-size: 10px;
	color: #036635;
	padding: 1px 1px;
	max-width: 200px;
}
.verticalContent img {
	width: 120px;
}

.contentCard {
	display: flex;
	flex-direction: row;
	
}

.contentCardItemLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	height: 300px;
	width: 140px;
	background-color: white;
	text-align: left;
	padding: 0px 5px;
	color: black;
	border: 1px solid black;
	border-radius: 5px 0px 0px 5px;
    font-size: 13px;
}

.contentCardItemLeft label{
    
}
.contentCardItemRight{
	height: 300px;
	width: 160px;
	background-color: white;
	text-align: left;
	padding: 0px 5px;
	color: black;
	border: 1px solid black;
	border-radius: 0px 5px 5px 0px;
    font-size: 13px;
}

.contentCardItemRight b{
    font-size: 15px;
}


button {
    background-color: #036635;
    width: 90px;
    margin: 5px 25px;
    border: 2px solid black;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
    background-color: #0f6f3f;
}
